# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env*.local

# Demo
demo/.next/
demo/node_modules/
sample_ui